div.centered { max-width:1024px !important;  }
#mainLogo { padding-top:12px; }
#mainLogo img{ width:19%; margin:0px; cursor:pointer; max-width:190px; min-width: 90px; }
body.homepage div.maincontent { padding-top:187px; }
div.homeBoxes > div { height:290px; }
div.homeBoxes > div > div.homeBox { height:255px; }
div.homeBoxes > div > div.homeBox div.bgSet { height: 51%; }
div.homeBoxes > div > div.homeBox div.infoSet { height:48%; padding:1.2%; }
div.homeBoxes > div > div.homeBox div.infoSet p { font-size:17px; line-height:19px;}


div.homeBoxes > div > div.homeBox div.dtHome { bottom:-23px; left:10px; height:28px; width:124px; padding:4px 6px 0px 0px; font-size:26px; }
div.homeBoxes > div > div.homeBox div.dtHome > span {font-size:20px; }
div.homeBoxes > div > div.homeBox div.exHome { font-size:24px; padding:4px 6px 0px 0px; width:124px; height:28px;}
div.homeBoxes > div > div.homeBox div.exHome  > span { font-size:14px; }

div.homeBoxes > div > div.homeBox div.dhdate { left:13%; width:80%; }
div.homeBoxes > div > div.homeBox div.infoSet img, div.homeEvents div.infoSet img { float:right; border:0px; cursor:pointer; width:26px; margin-top:-1px;}

#imgPager, div.embdVideo { max-height: 325px; height: 325px;  }
#imgPager .imgPage, #imgPager .imgPage169, body.imgPageSmall #imgPager .imgPage  { background-position:center top !important;  }

div.tLeft { height:246px; margin-bottom:10px; overflow:visible; }
div.whiteBoxDouble div.boxText p.btit { margin-bottom:-2px; width:98%;}
div.whiteBoxDouble div.boxText { font-size:14px; line-height:16px !important;}
div.whiteBoxSingle div.boxText {height:85% !important; overflow:hidden;}
div.whiteBoxSingle div.boxText p {font-size:14px; line-height:15px !important;}

div.countdown_container { bottom:0px; max-height:149px !important; min-height:136px !important; overflow:hidden }
div.progContainer {width: 105%; clear: both;}
a.prgramma {  width: 23.8%; min-width: 130px;}

